body {
    background-color: #222;
    color: #fff;
}

.title {
    color: red;
}

/*
Properties:
	background
	border
	color
	cursor
	display
	float right, left
	font-size
	font-style
	font-weight
	height weight
	top right bottom left
	margin
	padding
	position
	text-align
	text-decoration
*/
